* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  box-sizing: border-box;
  background: #06121e;
}
.bg-header {
  background: #06121e;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.header-right {
  display: flex;
  flex: 1 1 0%;
  justify-content: space-between;
  align-items: center;
}
.navbar .nav-item a {
  color: white;
  padding: 0 0.75rem;
  display: block;
  line-height: 56px;
  transition: all 0.3s;
}
.navbar .nav-item a:hover {
  background-color: #102c48;
  color: #428bca;
}
.navbar .navbar-nav {
  display: flex;
}
.logo a {
  display: flex;
}
.logo {
  padding: 0 0.75rem;
}
.logo a img {
  width: 112px;
  height: 28px;
}
.login-btn {
  background-color: #cf2122;
  border-radius: 5px;
  color: #fff;
  padding: 10px 20px;
  margin-right: 0.75rem;
}
